@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.root{
    -fx-font-family: Algerian;
}

*{
    -fx-text-fill: "#e43f5a";
}

#heading1{
    -fx-font-family: 'Dancing Script', cursive;
    -fx-font-size: 40px;
    -fx-font-width: bolder;
    -fx-font-style: italic;
}

#heading2{
    -fx-font-family: 'Dancing Script', cursive;
    -fx-font-size: 30px;
    -fx-font-style: italic;
    -fx-font-weight: bolder;
}

.label{
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}

.button{
    -fx-font-size: 16px;
}

.combo-box{
    -fx-font-size: 14px;
    -fx-font-width: normal;
}
